<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- main css  -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>

        <form action="/loginUser" method="post">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>
        <div id="registerBtn">
            <a href="/registerPage"><button class="btn">Register</button></a>
        </div>
    </div>
</body>

</html>